/* RedistributionForm.css */

.redistribution-form {
  margin-top: 50px;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  margin-left: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  background-color: #79c265;
  color: #010602;
  font-weight: bold;
  padding: 10px;
  border: solid 1px #0d3302;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #257618;
}
.button-submit {
  width: 150px;
  background-color: #79c265;
  color: #010602;
  font-weight: bold;
  padding: 10px;
  border: solid 1px #0d3302;
  border-radius: 4px;
  cursor: pointer;
}
.button-card {
  display: flex;
  justify-content: space-between;
}
.button-allrecords {
  width: 150px;
  background-color: #79c265;
  color: #010602;
  font-weight: bold;
  padding: 10px;
  border: solid 1px #0d3302;
  border-radius: 4px;
  cursor: pointer;
}
